/* app css stylesheet */

.container-fluid {
  margin-top: 35px;
}

#toolbar ul li {
  display: inline;
  margin-left: 25px;
}

.footer {
  text-align: center;
  color: grey;
}

.thumb {
  width: 24px;
  height: 24px;
}