<div class="modal hide">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal">&times</button>
		<h3>{{element.name}}</h3>
	</div>
	<div class="modal-body">
		<div class="row-fluid">
			<div class="span4">
				<img ng-src="img/{{element.type}}.png" />
			</div>
			<div class="span8">
				<p>UID: {{element.uid}}</p>
				<p>Name: {{element.name}}</p>
				<p>Type: {{element.type}}</p>
				<p>Size: {{element.size}}</p>
				<p>Owner: {{element.owner}}</p>
				<p>Creation Time: {{element.ctime}}</p>
			</div>
		</div>
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
	</div>
</div>